// background
$background-sa-flag: #074D31;
$background-neutral-50: #F9FAFB;
$background-neutral-100: #F3F4F6;
$background-neutral-200: #E5E7EB;
$background-neutral-400: #9DA4AE;
$background-neutral-800: #1F2A37;
$background-primary: #1B8354;
$background-primary-200: #B8EACB;
$background-primary-400: #54C08A;
$background-primary-50: #F3FCF6;
$field-background-default: #FFFFFF;

//button
$button-background-neutral-default: #F3F4F6;
$button-background-neutral-hover: #F3F4F6;
$button-background-neutral-pressed: #E5E7EB;
$button-background-primary-default: #1B8354;
$button-background-primary-hovered: #166A45;
$button-background-primary-pressed: #104631;

$button-background-black-default: #0D121C;
$button-background-black-hovered: #1F2A37;
$button-background-black-pressed: #4D5761;

//icon
$bg-icon-brand-light: #F3FCF6;
$bg-icon-hovered: #DBA102;

//tag
$tag-boder-info-light: #B2DDFF;
$tag-text-info: #1849A9;
$tag-background-info-light: #EFF8FF;
$tag-background-neutral-light: #F9FAFB;
$tag-background-no-color: rgb(255 255 255 / 20%);

//border
$border-neutral-primary: #D2D6DB;
$border-neutral-secondary: #E5E7EB;
$border-danger-default: #900B09;
$border-black: #161616;
$border-success: #067647;

//field
$field-border-default: #9DA4AE;

//link
$link-primary-hovered: #54C08A;
$link-primary-pressed: #88D8AD;
$link-primary-primary: #1B8354;
$link-primary-focused: #1B8354;
$link-primary-visited: #14573A;
$link-primary-disabled: #9DA4AE;

$link-neutral-hovered: #6C737F;
$link-neutral-pressed: #9DA4AE;


//alpha
$alpha-white-10: rgb(255 255 255 / 10%);
$alpha-white-20: rgb(255 255 255 / 20%);

// text
$text-default: #161616;
$text-primary: #1B8354;
$text-primary-light: #88D8AD;
$text-display: #1F2A37;
$field-text-display: #1F2A37;
$field-text-placholder: #6C737F;
$text-primary-paragraph: #384250;
$text-oncolor-secondary: rgb(255 255 255 / 80%);
$text-oncolor-tertiary: rgb(255 255 255 / 70%);

//control
$control-primary-checked: #1B8354;
$control-primary-hovered: #14573A;
$control-primary-pressed: #104631;
$control-border: #6C737F;
$control-pressed: #D2D6DB;
