@use "../partials/variables" as *;

.modal {
    .modal-header {
        padding-block-end: 1rem !important;

        .btn-close {
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            opacity: 1;
            

            &:hover {
                background-color: $button-background-neutral-hover;
            }

            &:active {
                background-color: $button-background-neutral-pressed;
            }

            &:focus {
                outline: 0;
                box-shadow: 0 0 0 2px #000;
            }
        }
    }

    .modal-content {
        border-radius: 1rem;
        border: 0;
        padding: 1.5rem;

        .modal-header {
            margin: 0;
            padding: 0;
            margin-block-end: 1.5rem;
        }

        .modal-body {
            padding: 0;
        }

        .input {
            position: relative;
            width: 100%;
            margin: 0px;

            i{
                width: 20px;
                height: 20px;
                position: absolute;
                top: 13px;
                inset-inline-start: 1rem;
            }

            .form-control {
                padding: 0.625rem 1rem;
            }

            &.with-icon {
                .form-control {
                    padding-inline-start: 2.5rem !important;
                }
            }
        }
    }
}


.modal-footer {
    margin-block-start: 1rem;

    .closeBtn {
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-weight: 500;
        text-decoration: none !important;
        background-color: #D92D20 !important;
        border-color: #D92D20 !important;
        max-width: max-content;
        color: white !important;
        border: 0px;

        &:hover {
            background-color: #B42318 !important;
        }

        &:active {
            background-color: #7A271A !important;
        }

        &:focus-visible {
            background-color: #D92D20 !important;
            outline: 0 !important;
            border: 1px solid #fff !important;
            box-shadow: 0 0 0 2px #000 !important;
        }
    }
}